
<section  id="about">
  <!--<div class="section-block-title">-->
  <!--<div class="section-title">-->
  <!--<div class="container">-->
  <!--<div class="row">-->
  <!--<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">-->
  <!--<article class="section-title-body">-->
  <!--<h1 class="head-title wow fadeInDown animated" data-wow-duration="1.5s">About</h1>-->
  <!--<p class="head-text wow fadeInUp animated" data-wow-duration="1.5s">-->
  <!--We are regarded in stunning website solutions-->
  <!--</p>-->
  <!--</article>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>&lt;!&ndash;/section-title&ndash;&gt;-->
  <!--</div>&lt;!&ndash;/section-block-title&ndash;&gt;-->

  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="section-sub-title">
            <article class="section-title-body">
              <h1 class="head-title head-title-rose">Confiez votre projet à des experts:</h1>
            </article>
          </div>
          <article class="company-feature">
            <p>
              Faire confiance à DigitalCo, c'est faire confiance à l'expertise et au savoir faire de développeurs
              seniors expérimentés parfaitement rodés aux meilleures techniques de développement.
              La force du succès DigitalCo c'est :     </p>

            <!-- Progress -->
            <div class="progress">
              <div class="progress-bar" data-value="15">

              </div>
              <span class="skill-value">Expertise <span> 25%</span></span>
            </div>
            <!-- / Progress Bar -->
            <!-- Progress -->
            <div class="progress">
              <div class="progress-bar" data-value="15">

              </div>
              <span class="skill-value">Conseil <span> 15%</span></span>
            </div>
            <!-- / Progress Bar -->
            <!-- Progress -->
            <div class="progress">
              <div class="progress-bar" data-value="20">

              </div>
              <span class="skill-value">Agilité <span> 20%</span></span>
            </div>
            <!-- / Progress Bar -->
            <!-- Progress -->
            <div class="progress">
              <div class="progress-bar" data-value="15">

              </div>
              <span class="skill-value">Rigueur <span> 15%</span></span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-value="10">

              </div>
              <span class="skill-value">Communication <span> 10%</span></span>
            </div>
            <div class="progress">
              <div class="progress-bar" data-value="15">

              </div>
              <span class="skill-value">Qualité <span> 15%</span></span>
            </div>
            <!-- / Progress Bar -->
          </article>

        </div>
        <div class="col-md-6 col-sm-6">
          <div id="owl-company-about"  class="owl-carousel">
            <div class="item">
              <%= image_tag 'preview/about/about1.png', class: "img-responsive" %>
            </div>
            <div class="item">
              <%= image_tag 'preview/about/about2.png', class: "img-responsive" %>
            </div>
            <div class="item">
              <%= image_tag 'preview/about/about3.png', class: "img-responsive" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block2 color-scheme-4">
    <div class="section-sub-title center">
      <article class="section-title-body">
        <h1 class="head-title head-title-rose" style="font-size: 40px;font-weight: bold;">
          Notre expertise
        </h1>
      </article>
    </div>
    <div class="fact-block">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <article class="fact" >
              <%= image_tag 'ruby.png', width: '80px', height: '100%' , style: 'margin-bottom: 40px;'%>
              <br/>
              <i class="">Ruby </i>
              <h4>RoR</h4>
              <h4>Spree</h4>
              <h4><br/></h4>
            </article>
          </div>

          <div class="col-md-3 col-sm-6">
            <article class="fact">
              <%= image_tag 'php.svg', width: '80px', height: '100%', style: 'margin-bottom: 25px;' %>
              <br/>
              <i class="">PHP </i>
              <h4>Symfony</h4>
              <h4>Laravel</h4>
              <h4> Zend</h4>
            </article>
          </div>

          <div class="col-md-3 col-sm-6">
            <article class="fact" >
              <%= image_tag 'js_icon.svg', width: '80px', height: '100%', style: 'margin-bottom: 20px;' %>
              <br/>
              <i class="">JS </i>
              <h4>Angular</h4>
              <h4>React</h4>
              <h4> Node</h4>
            </article>
          </div>

          <div class="col-md-3 col-sm-6">
            <article class="fact" >
              <%= image_tag 'native.png', width: '80px', height: '100%', style: 'margin-bottom: 20px;' %>
              <br/>
              <i class="">Mobile JS </i>
              <h4>Ionic</h4>
              <h4> Native
                Script</h4>

              <h4> Cordova</h4>
            </article>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>