<section  id="reference">
  <div class="section-block-title">
    <div class="section-title">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <article class="section-title-body">
              <h1 class="head-title wow fadeInDown animated" data-wow-duration="1.5s">Nos références</h1>
              <p class="head-text wow fadeInUp animated" data-wow-duration="1.5s">
                Ils nous font confiance
              </p>
            </article>
          </div>
        </div>
      </div>
    </div><!--/section-title-->
  </div><!--/section-block-title-->
  <div class="portfolio-filter-block">
    <div class="container">
      <div class="row">
        <div class="clearfix">
          <div class="col-md-12">
            <div class="portfolio-filter-title">
              <ul class="filter group list-unstyled">
                <li class="current all"><a href="#." >All</a></li>
                <li class="laravel"><a href="#.">Laravel</a></li>
                <li class="angular"><a href="#.">Angular JS</a></li>
                <li class="symfony"><a href="#.">Symfony</a></li>
                <li class="ionic"><a href="#.">Ionic</a></li>
                <li class="ruby"><a href="#.">Ruby On Rails</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="portfolio-list group list-unstyled">
      <li class="item col-md-3 col-sm-6" data-id="id-1" data-type="laravel angular">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="https://www.volkswagen.fr" class=""></a>
              <div class="image-overlay-content">
                <h4>Volkswagen France            </h4>
              </div>
            </div>
            <%= image_tag "vw.png", alt:"Volkswagen France image", class:"img-responsive" %>

          </div>
        </div>
      </li>
      <li class="item col-md-3 col-sm-6" data-id="id-2" data-type="angular symfony">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="https://www.santevet.com/" class=""></a>
              <div class="image-overlay-content">
                <h4>SanteVet</h4>
              </div>
            </div>
            <%= image_tag "sante.png", alt:"SanteVet image", class:"img-responsive" %>
          </div>
        </div>
      </li>
      <li class="item col-md-3 col-sm-6" data-id="id-3" data-type="angular ionic">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="https://www.siberiancms.com" class=""></a>
              <div class="image-overlay-content">
                <h4>Siberian CMS</h4>

              </div>

            </div>
            <%= image_tag "siberian.png", alt:"Siberian CMS", class:"img-responsive" %>

          </div>
        </div>
      </li>
      <li class="item col-md-3 col-sm-6" data-id="id-4" data-type="symfony">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="https://sacrefernand.com" class=""></a>
              <div class="image-overlay-content">
                <h4>Sacré Fernand</h4>

              </div>

            </div>
            <%= image_tag "fernand.png", alt:"Sacré Fernand", class:"img-responsive" %>

          </div>
        </div>
      </li>
    <li class="item col-md-3 col-sm-6" data-id="id-5" data-type="angular">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="https://www.izberg-marketplace.com/fr/" class=""></a>
              <div class="image-overlay-content">
                <h4>Izeberg Marketplace</h4>

              </div>

            </div>
            <%= image_tag "izberg.png", alt:"Izeberg Marketplace", class:"img-responsive" %>

          </div>
        </div>
      </li>

      <li class="item col-md-3 col-sm-6" data-id="id-6" data-type="laravel angular">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="https://dpd.com" class=""></a>
              <div class="image-overlay-content">
                <h4>DPD</h4>
              </div>

            </div>
            <%= image_tag "dpd.png", alt:"DPD", class:"img-responsive" %>

          </div>
        </div>
      </li>

      <li class="item col-md-3 col-sm-6" data-id="id-7" data-type="laravel angular">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="http://offres.numericable.fr/" class=""></a>
              <div class="image-overlay-content">
                <h4>Numericable
                </h4>
              </div>

            </div>
            <%= image_tag "nemeric.png", alt:"numericable", class:"img-responsive" %>

          </div>
        </div>
      <li class="item col-md-3 col-sm-6" data-id="id-8" data-type="laravel angular">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="www.steamsurfing.org/" class=""></a>
              <div class="image-overlay-content">
                <h4>Steamsurfing

                </h4>
              </div>

            </div>
            <%= image_tag "steam.png", alt:"Steamsurfing", class:"img-responsive" %>
          </div>
        </div>
      </li>

      <li class="item col-md-3 col-sm-6" data-id="id-9" data-type="ruby">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="http://foodfli.com" class=""></a>
              <div class="image-overlay-content">
                <h4>Food Fli

                </h4>
              </div>

            </div>
            <%= image_tag "foodfli.png", alt:"foodfli", class:"img-responsive" %>
          </div>
        </div>
      </li>

      <li class="item col-md-3 col-sm-6" data-id="id-20" data-type="ruby">
        <div class="portfolio-cell">
          <div class="portfolio-item">
            <div class="image-overlay">
              <a href="https://www.elpers-mediacenter.de/" class=""></a>
              <div class="image-overlay-content">
                <h4>Elpers


                </h4>
              </div>

            </div>
            <%= image_tag "elpers.png", alt:"ElPERS", class:"img-responsive" %>
          </div>
        </div>
      </li>


    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- ===========================================
  =====        Clients say section               ====
  ============================================ -->


</section>